body {
  margin: 0;

}


.Navbar {
background-color: rgb(248, 215, 166);
margin-top: auto;
padding: 0.5rem;
display: flex;
border-bottom-right-radius: 1rem;
border-bottom-left-radius: 1rem;
font-family: helvetica;
color: white;
}
.Note{
background-color: rgb(255, 255, 255);
box-shadow: 0px 0px 10px rgba(105, 105, 105, 0.644) ;
height: fit-content;
width: 10rem;
padding: 0.5rem ;
margin: 2rem;
border-radius: 2rem;
font-size: 50;
display: block; 
text-align: center;


}
.footer{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: rgb(105, 105, 105);
  text-align: center;
}/* If the screen size is 601px wide or more, set the font-size of <div> to 80px */
@media screen and (min-width: 601px) {
  div.Note {
    font-size:  20px;
  }
}

@media screen and (max-width: 600px) {
  div.Note {
    font-size: 10px;
  }
}